@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --preto-secundario: #101828;
    --vermelho-secundario: #8E2424;
    --cinza-principal: #667085;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--branco-principal);
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100%;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
}

.cabecalho__menu a {
    margin-right: 2rem;
}

.cabecalho__menu__link {
    text-decoration: none;
    color: var(--cinza-principal);
    font-size: 16px;
}

.cabecalho__botoes {
    padding: 0.8 1rem;
    text-decoration: none;
    color: var(--cinza-principal);
    font-size: 16px;
}


.cabecalho__botao {
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    background: none;
    color: var(--text-color);
    font-size: 0.9rem;
    text-decoration: none;
}

.botao__2{
    background-color: #8E2424;
    color: var(--branco-principal);
}

.container__principal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 96px 0;
}

.container__titulo {
    font-size: 16px;
    color: var(--vermelho-secundario);
}

.container__subtitulo {
    margin: 24px 32px;
    color: var(--preto-secundario);
    font-size: 48px;
    font-weight: 600;
}

.container__paragrafo {
    font-size: 20px;
    color: var(--cinza-principal);
    margin: 12px 20%;
}

.metricas__container {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

.metricas {
    max-width: 20%;
    display: flex;
    flex-direction: column;
}

.metricas__numero {
    color: var(--vermelho-secundario);
    font-size:60px;
    font-weight: 600;
}

.metricas__titulo {
    color:var(--preto-secundario);
    font-size: 18px;
    margin: 8px 0;
}

.metricas__paragrafo {
    color: var(--cinza-principal);
    font-size: 16px;
}

.principal__imagem {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container__imagem__equipe {
    max-width: 80%;
    margin: 64px 0;
}

.container__vagas {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: start;
}

.vaga {
    display: flex;
    flex-direction: column;
    margin: 24px;
    gap: 32px;
}

.vaga__setor h2 {
    color: var(--preto-secundario);
    font-size: 20px;
    margin-bottom: 32px;
}

.informacoes {
    display: flex;
    gap: 32px;
    margin-bottom: 30px;
    color: var(--cinza-principal);
    font-size: 16px;

}

.vaga .titulo__vaga {
    color: var(--preto-secundario);
    font-size: 18px;
    font-weight: 600;
}

.setor1 {
    margin-bottom: 64px;
}

.container__colab {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 96px;
}

.container__colab .container__subtitulo {
    font-weight: 500;
    margin-bottom: 32px;
}

.usuaria__img {
    margin-bottom: 16px;
}

.usuaria__exemplo {
    color: var(--preto-secundario);
    font-size: 16px;
    font-weight: 600;
}

.usuaria__cargo {
    color: var(--cinza-principal);
    font-size: 14px;
}

.container__final {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 96px 0;
    gap: 1.5rem;
}

.email__button {
    display: flex;
    gap: 2rem;
    align-items:center;
}

.container__button {
    width: 100%;
    border: 1px solid var(--vermelho-secundario);
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--branco-principal);
    background-color: var(--vermelho-secundario);
}

.text__area {
    padding: 20px 60px;
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid var(--cinza-principal);
    text-align: center;
    font-size: 16px;
}

.direitos__autorais {
    color: #98A2B3;
}